/* ################################ GLOBAL SECTION START ################################  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --background-black: #eee;
  --Defult-Color: #212529;
  --Main-Color: #ce1212;
  --primary-Color: #37373f;
  --Secondary-Color: #7f7f90;
  --Defult-Font-Family: "Open Sans", sans-serif;
  --Main-Font-Family: "Amatic SC", cursive;
  --Secondary-Font-Family: "Inter", sans-serif;
  --second-gray-color: #9f9f9f;
  --color-black: white;
  --background: #fff;
  --contact-black-color: #f5f5f5;
  --selection-color: #bc8f8f;
  --background-image: url(../images/team-shape.svg);
  --hover-color: #923434;
  --bachground-side-bar: rgb(255, 255, 255, 0.5);
}
a {
  text-decoration: none;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
::selection {
  color: var(--color-black);
  background-color: var(--selection-color);
}
section {
  background-color: var(--background);
}
.main-title {
  text-align: center;
  margin: 0 auto 1.5rem;
}
.main-title h2 {
  font-family: var(--Secondary-Font-Family);
  color: var(--Secondary-Color);
  font-size: 0.875rem;
  font-weight: 400;
}
.main-title p {
  font-family: var(--Main-Font-Family);
  color: var(--Defult-Color);
  font-size: 3.5rem;
}
.main-title p span {
  color: var(--Main-Color);
}
/* ################################ GLOBAL SECTION END ################################  */

/* ################################ NAVBAR SECTION ONE START ################################  */
nav {
  box-shadow: 0 0 20px #0000001b;
  background-color: var(--color-black);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 3;
}
nav .container {
  padding: 20px 5px;
}
nav .container .logo-text h1 a {
  font-family: var(--Defult-Font-Family);
  color: var(--Defult-Color);
  font-size: 30px;
}
nav .container .logo-text h1 a::after {
  content: ".";
  color: var(--Main-Color);
}
nav .container .nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
nav .nav-links li a {
  font-size: 1.0625rem;
  color: var(--Secondary-Color);
  font-family: var(--Defult-Font-Family);
  padding: 0.3125rem 0.9375rem;
  font-weight: 600;
  position: relative;
  transition: 0.8s color;
}
nav .nav-links li a:hover {
  color: var(--Defult-Color);
}
nav .nav-links li a::after {
  content: "";
  width: 0%;
  height: 7%;
  position: absolute;
  bottom: -0.3125rem;
  left: 0.9375rem;
  background-color: var(--Main-Color);
  transition: width 1s;
}
nav .nav-links li a:hover::after {
  width: calc(100% - (0.9375rem * 2));
}
body:not(:has(:target)) .home-link,
body:has(.home:target) .home-link,
body:has(.chefs:target) .chefs-link,
body:has(.gallery:target) .gallery-link,
body:has(.contact:target) .contact-link {
  color: var(--Defult-Color);
}

body:not(:has(:target)) .home-link::after,
body:has(.home:target) .home-link::after,
body:has(.chefs:target) .chefs-link::after,
body:has(.gallery:target) .gallery-link::after,
body:has(.contact:target) .contact-link::after {
  width: calc(100% - (0.9375rem * 2));
}
nav .container .mode-group label {
  font-size: 25px;
  cursor: pointer;
}
nav .container .mode-group label.light {
  display: none;
  color: var(--Defult-Color);
}
:root:has(.mode-group input:checked) {
  --Main-Color: #c17e1f;
  --background-black: #252525;
  --primary-Color: #ffffff;
  --color-black: #171717;
  --background: #202020;
  --Defult-Color: #fff;
  --contact-black-color: #0d0d0d;
  --selection-color: #c17e1f;
  --background-image: url(../images/team-shape-dark.svg);
  --hover-color: #eeae53;
  --bachground-side-bar: rgb(13, 13, 13, 0.8);
}

body:has(.mode-group input:checked) .mode-group .dark {
  display: none;
}
body:has(.mode-group input:checked) .mode-group .light {
  display: block;
}
nav .menu-icon {
  cursor: pointer;
  font-size: 1.5625rem;
  display: none;
  color: var(--Defult-Color);
}
nav ul li.close-icon {
  display: none;
}
nav ul li.close-icon a {
  font-size: 25px;
}
/* ################################ NAVBAR SECTION ONE END ################################  */

/* ################################ HOME SECTION TWO START ################################  */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 81.101px;
  background-color: var(--background-black);
}
.home-container {
  padding: 2.3rem 0.3125rem;
}
.home-container .home-content {
  width: 40%;
}
.home-container .home-content h2 {
  font-size: 4.0625rem;
  font-family: var(--Main-Font-Family);
  color: var(--primary-Color);
}
.home-container .home-content p {
  font-size: 1rem;
  font-family: var(--Defult-Font-Family);
  color: var(--second-gray-color);
  margin: 1.25rem 0;
  line-height: 1.6rem;
}
.home-content .home-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 75%;
}
.home-buttons .first-btn {
  margin-right: 20px;
}
.home-buttons .first-btn button {
  background-color: var(--Main-Color);
  border: none;
  padding: 10px 25px;
  border-radius: 0 3.125rem 3.125rem;
  cursor: pointer;
  transition: all 1s;
}
.home-buttons .first-btn button:hover {
  background-color: var(--hover-color);
}
.home-buttons .first-btn a button {
  color: var(--color-black);
  font-size: 15px;
  font-family: var(--Defult-Font-Family);
  font-weight: 600;
}
.home-buttons .seconed-btn {
  width: 50%;
}
.home-buttons .seconed-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  transition: all 1s;
  font-weight: 600;
}
.home-buttons .seconed-btn:hover .icon {
  color: var(--Main-Color);
}
.seconed-btn a {
  font-family: var(--Defult-Font-Family);
  font-size: 16px;
  color: var(--Defult-Color);
}
.home-buttons .seconed-btn a .seconed-btn-logo {
  background-image: linear-gradient(
    to right,
    var(--Main-Color) 50%,
    var(--background-black) 50%
  );
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
.home-buttons .seconed-btn .icon-BG {
  width: 40px;
  height: 40px;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 5px;
  color: var(--Defult-Color);
  transition: all 1s;
}
.home-container .home-Picture {
  width: 40%;
}
.home-container .home-Picture img {
  width: 100%;
  filter: drop-shadow(4px 4px 9px #000a);
}
@keyframes img-rotate {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.home-container .home-Picture img:hover {
  animation-name: img-rotate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.home-buttons .first-btn a button::selection {
  color: white;
  background-color: var(--Main-Color);
}
/* ################################ HOME SECTION TWO END ################################  */

/* ################################ CHEFS SECTION THREE START ################################  */
section .chefs-sections {
  padding: 50px 5px;
}
.chefs-sections .chefs-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  flex-wrap: wrap;
}
.chefs-sections .chefs-cards .card {
  width: 30%;
  text-align: center;
  background-color: var(--color-black);
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.9rem rgba(0, 0, 0, 0.1);
  transition: 1s all;
  position: relative;
  overflow: hidden;
}
.chefs-sections .chefs-cards .card .social-icons {
  position: absolute;
  top: 1.875rem;
  left: 100%;
  border-radius: 0.3125rem;
  background-color: #ffffff4d;
  padding: 0.625rem;
  /* Hover off */
  transition: 0.5s all;
}
.chefs-sections .chefs-cards .card .social-icons ul {
  list-style-type: none;
}
.chefs-sections .chefs-cards .card .social-icons ul a i {
  font-size: 20px;
  color: var(--Secondary-Color);
  padding: 10px 5px;
  margin-bottom: 5px;
  transition: 0.5s all;
}
.chefs-sections .chefs-cards .card .social-icons ul a i:hover {
  color: var(--Defult-Color);
}
.chefs-sections .chefs-cards .card:hover {
  transform: scale(1.1);
}
.chefs-sections .chefs-cards .card:hover .social-icons {
  /* Hover on */
  transform: translate(-3.5rem);
  transition: 0.5s 0.5s all;
}
.chefs .chefs-cards .card .card-img {
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
}
.chefs .chefs-cards .card .card-img img {
  width: 100%;
  border-radius: 0.5rem;
}
.chefs .chefs-cards .card .card-img::after {
  content: "";
  height: 60px;
  width: 100%;
  background-image: var(--background-image);
  background-repeat: repeat-x;
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
}
.chefs .chefs-cards .card .card-content {
  padding: 15px;
}
.chefs .chefs-cards .card .card-content h3 {
  font-size: 1.147rem;
  font-family: var(--Secondary-Font-Family);
  color: var(--Defult-Color);
}
.chefs .chefs-cards .card .card-content .chef-info {
  font-size: 0.9375rem;
  font-family: var(--Defult-Font-Family);
  font-style: italic;
  line-height: 1.25rem;
  color: var(--Secondary-Color);
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  overflow: auto;
}
.chefs .chefs-cards .card .card-content .job-title {
  margin: 0.3125rem 0rem 0.625rem;
  color: var(--Secondary-Color);
  font-family: var(--Defult-Font-Family);
  font-size: 0.875rem;
}
/* ################################ CHEFS SECTION THREE END ################################  */

/* ################################ Gallery SECTION FOUR START ################################  */
section.gallery-Background {
  background-color: var(--background-black);
}
section .gallery {
  padding: 2.5rem 0.3125rem;
  margin: auto;
}
section.gallery-Background .gallery .pictures .child {
  overflow: hidden;
  border: 3px solid white;
  position: relative;
}
section .gallery .pictures div img {
  width: 100%;
  height: 100%;
  transition: 0.8s all;
}
section .gallery .pictures {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(11, 5vw);
  gap: 15px;
}
section .gallery .pictures .meal1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
section .gallery .pictures .meal2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 8;
}
section .gallery .pictures .meal3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}
section .gallery .pictures .meal5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 10;
}
section .gallery .pictures .meal4 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 7;
}
section .gallery .pictures .meal6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 11;
}
section .gallery .pictures .meal7 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 12;
}
section .gallery .pictures div:hover img {
  transform: scale(1.2);
}
section .gallery .pictures .child .layer {
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 100%;
  bottom: -100%;
  right: 0;
  left: 0;
  z-index: 1;
  color: white;
  font-family: var(--Secondary-Font-Family);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s all;
}
section .gallery .pictures div:hover .layer {
  transform: translateY(-100%);
}
section .gallery .pictures .child .layer p {
  width: 85%;
  font-weight: lighter;
}
section .gallery .pictures .child .layer h2::selection,
section .gallery .pictures .child .layer p::selection,
section .gallery .pictures div img::selection {
  color: white;
  background-color: var(--Main-Color);
}
/* ################################ Gallery SECTION FOUR END ################################  */

/* ################################ Contact SECTION FIVE START ################################  */
section .contact-section {
  padding: 2.5rem 0.3125rem;
}
section .contact-section iframe {
  width: 100%;
  height: 21.875rem;
}
section .contact-section .details {
  margin: 1.5625rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
section .contact-section .details .item {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--contact-black-color);
  padding: 25px;
  width: 49%;
}
section .contact-section .details .icon-Contact {
  min-width: 3rem;
  min-height: 3rem;
  background-color: var(--Main-Color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
section .contact-section .details .icon-Contact i {
  color: var(--color-black);
  font-size: 1.2rem;
}
section .contact-section .details .contact-Info h3 {
  color: #7d7d7d;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 5px 0;
  font-family: var(--Secondary-Font-Family);
}
section .contact-section .details .contact-Info p,
section .contact-section .details .contact-Info a {
  font-family: var(--Defult-Font-Family);
  font-size: 1rem;
  color: var(--Defult-Color);
}
section .contact-section .details .contact-Info p span {
  font-weight: bold;
}
section .contact-section .contact-Form {
  padding: 20px;
  box-shadow: 0 0 1.875rem #00000014;
  background-color: var(--color-black);
  width: 100%;
}
section .contact-section .contact-Form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section .contact-section .contact-Form form input,
section .contact-section .contact-Form form textarea {
  padding: 15px;
  border: 2px solid #ede9e9;
  color: var(--Defult-Color);
  font-family: var(--Defult-Font-Family);
  resize: vertical;
  outline: none;
  transition: 0.5s all;
}
section .contact-section .contact-Form form textarea {
  max-height: 350px;
  min-height: 150px;
}
section .contact-section .contact-Form form input:focus,
section .contact-section .contact-Form form textarea:focus {
  border: 2px solid var(--Main-Color);
}
section .contact-section .contact-Form form .name_email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
section .contact-section .contact-Form form .name_email input {
  width: 49%;
}
section .contact-section .contact-Form form button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 0;
  padding: 12px 40px;
  cursor: pointer;
  background-color: var(--Main-Color);
  color: var(--color-black);
  font-size: 1rem;
  font-family: var(--Defult-Font-Family);
  border: 0;
  border-radius: 50px;
  transition: 0.5s all;
}
section .contact-section .contact-Form form button::selection {
  color: white;
  background-color: var(--Main-Color);
}
section .contact-section .contact-Form form button:hover {
  background-color: var(--hover-color);
}
/* ################################ Contact SECTION FIVE END ################################  */

/* ################################ FOOTER SECTION SIX START ################################  */
#footer {
  background-image: linear-gradient(#0009, #0009),
    url(../images/textured-metal-background.jpg);
  background-position: center;
  background-size: cover;
}
section .footer {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  flex-wrap: wrap;
}
section .footer .Part_One {
  width: 24%;
}
section .footer .footer-PartOne {
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
}
section .footer .footer-PartOne .img-Logo {
  width: 40px;
  margin-right: 10px;
}
section .footer .footer-PartOne .img-Logo img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .footer .footer-PartOne .img-Logo-Header h2 {
  font-family: var(--Defult-Font-Family);
  color: white;
  font-size: 1.875rem;
  width: -moz-fit-content;
  width: fit-content;
}
section .footer .footer-PartOne .img-Logo-Header h2::after {
  content: ".";
  color: var(--Main-Color);
}
section .footer .Part_One p {
  margin: 10px 0;
  color: white;
  font-family: var(--Defult-Font-Family);
  font-size: 1rem;
}
section .footer .Part_One h3 {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd6;
  font-size: 19px;
  font-family: var(--Secondary-Font-Family);
  color: white;
  text-align: center;
}
section .footer .Part_One ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section .footer .Part_One ul a {
  color: white;
  font-size: 1.5rem;
}
section .footer .Part_Two {
  width: 49%;
}
section .footer .Part_Two h3 {
  font-size: 19px;
  color: white;
  font-family: var(--Secondary-Font-Family);
}
section .footer .Part_Two p {
  margin: 10px 0;
  color: white;
  font-family: var(--Defult-Font-Family);
  font-size: 1rem;
}
section .footer .Part_Two form {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  flex-wrap: wrap;
}
section .footer .Part_Two form input {
  padding: 10px;
  color: var(--Defult-Color);
  font-family: var(--Defult-Font-Family);
  border: 2px solid #767676;
  border-radius: 2px;
  outline: none;
  flex-grow: 1;
}
section .footer .Part_Two form button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--Main-Color);
  color: var(--color-black);
  font-size: 1rem;
  font-family: var(--Defult-Font-Family);
  border: 0;
  transition: 0.5s all;
}
section .footer .Part_Two form button:hover {
  background-color: var(--hover-color);
}
section .footer .Part_Two ul {
  margin-top: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
section .footer .Part_Two ul li {
  width: 49%;
  padding: 5px;
  color: white;
  font-size: 1rem;
  transition: 0.5s all;
}
section .footer .Part_Two ul li:hover {
  transform: translateX(10px);
  background-color: #222;
}
section .footer .Part_Two ul li a {
  color: white;
  margin-left: 5px;
  font-size: 1rem;
  font-family: var(--Defult-Font-Family);
}
section .footer .Part_Three {
  width: 24%;
}
section .footer .Part_Three h3 {
  font-size: 19px;
  color: white;
  font-family: var(--Secondary-Font-Family);
  margin-bottom: 10px;
}
section .footer .Part_Three ul {
  list-style-type: none;
  color: white;
  font-family: var(--Defult-Font-Family);
  font-size: 1rem;
}
section .footer .Part_Three ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
  gap: 10px;
}
section .footer .Part_Three ul li i {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Main-Color);
  font-size: 1.3rem;
}
section .footer .Part_Three ul li a {
  width: 90%;
  color: white;
  font-family: var(--Defult-Font-Family);
  font-size: 1rem;
}
/* ################################ FOOTER SECTION SIX END ################################  */
